doctype html
html(lang='en')
    head
        meta(charset='utf-8')
    body
        h1 Phone List JS
        form(action="/users", method="post")
            label(for='input') Name: 
            input(type='text', name='Name', id='input')
            br
            br
            label(for='contacts') Contacts: 
            input(type='text', name='Contacts', id='contacts')
